In [105]:
# Q1

string = input("Enter a String: ")
even_index_characters = string[1::2]
print(f"Character at even index number are {even_index_characters}")

Enter a String:  alisarwar

Character at even index number are lsra

In [112]:
# Q2

string2 = "pynative"
print(string2[2:8])

native

In [115]:
# Q3

list = [1, 2, 3, 4, 5, 5]

if len(list) == len(set(list)):
    print("All elements in the list are unique.")
else:
    print("The list contains duplicate elements.")

The list contains duplicate elements.

In [124]:
# Q4

digits = int(input("Enter an integer: "))
binaryDigits = bin(digits)
countDigits = len(binaryDigits)-2
print(" The number of binary digits:", countDigits)

Enter an integer:  32

 The number of binary digits: 6

In [135]:
# Q5

list = [5,10,15,17,19,20]
for i in list:
    if(i%5==0):
        print(i)

5
10
15
20

In [144]:
# Q6
# Taxable Income = Income Tax Payable / Income Tax

Taxable_Income = 45000
Income_Tax_Payable = 6000
Income_Tax = f"The income tax will be {Income_Tax_Payable/Taxable_Income}%"
print(Income_Tax)

The income tax will be 0.13333333333333333%

In [155]:
# Q7
ID = int(input("Enter Your ID: "))
First_Name = input("Enter Your First Name: ")
Last_Name = input("Enter Your Last Name: ")
Salary = input("Enter Your Salary: ")
Income_Tax = input("Enter Income Tax")
print("------------------------------------------------------------------------------")
print("ID\tFirst Name\t\tLast Name\tSalary\t\tIncome Tax")
print("------------------------------------------------------------------------------")
print(f"{ID}\t{First_Name}\t\t\t{Last_Name}\t\t{Salary}\t\t{Income_Tax}")

Enter Your ID:  2
Enter Your First Name:  ali
Enter Your Last Name:  sarwar
Enter Your Salary:  150000
Enter Income Tax 20%

------------------------------------------------------------------------------
ID	First Name		Last Name	Salary		Income Tax
------------------------------------------------------------------------------
2	ali			sarwar		150000		20%

In [157]:
# Q8

number = int(input("Enter a number: "))
count = 0

for i in range(1, number + 1):
    count = count + i   
print("The sum of numbers from 1 to", number, "is:", count)

Enter a number:  3

The sum of numbers from 1 to 3 is: 6

In [161]:
# Q9

print("The distances of 5 cities from Karachi are as follows in dictionary.")
dict = {
    "Hyderabad" : 120,
    "Nawabshah" : 300,
    "Sukkar" : 450,
    "Multan" : 750,
    "Lahore" : 1400,
    "Islamabad": 1800
}
print(dict)

The distances of 5 cities from Karachi are as follows in dictionary.
{'Hyderabad': 120, 'Nawabshah': 300, 'Sukkar': 450, 'Multan': 750, 'Lahore': 1400, 'Islamabad': 1800}

In [180]:
#Q10

print("The distances of 5 cities from Karachi are as follows in Tuple.")
tuple = ("Hyderabad : 120", "Nawabshah : 300", "Sukkar : 450", "Multan : 750", "Lahore : 1400", "Islamabad: 1800")
city_name = input(("Input the city name to find out the distance from Karachi: "))

if(city_name == "Hyderabad"):
    print("120 km")

elif(city_name == "Nawabshah"):
    print("300 km")

elif(city_name == "Sukkar"):
    print("450 km")

elif(city_name == "Multan"):
    print("750 km")

elif(city_name == "Lahore"):
    print("1400 km")

elif(city_name == "Islamabad"):
    print("1700 km")

else:
    print("City not found")

The distances of 5 cities from Karachi are as follows in Tuple.

Input the city name to find out the distance from Karachi:  Islamabad

1700 km